site_name: "Bits e Processadores"
theme:
  name: active-handout-theme

docs_dir: "docs-src"
site_url: https://insper.github.io/bits-e-proc/
repo_name: Insper/bits-e-proc
repo_url: https://github.com/insper/bits-e-proc

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - glightbox
  - active-handout:
      telemetry: true
      backend_url: https://devlife-api.insper-comp.com.br/
      course_slug: 22b bits
      plugin_exercise_counter: false

extra:
  custom_variables:
    lab_1_groups_spreadsheet: https://docs.google.com/spreadsheets/d/1V1h8e0awIF-E_OVm-Vc4zupaBRAQf-PcWidCq1knw74/edit?usp=sharing
    lab_1_mural: https://app.mural.co/t/elementos9119/m/elementos9119/1707341403650/21ec9f6d8deb01b63040c273903f818ca821a099?sender=ub569a9273c6e285461187641
    lab_1_benchmark: https://docs.google.com/spreadsheets/d/1-wJcqGsZMZzgkiVMG4cb2BI__cL7_cRLNCoCHIYf-GA/edit?usp=sharing

    infra_test_classroom: https://classroom.github.com/a/2Hp8zB83

    lab_myhdl_classroom: https://classroom.github.com/a/Qt6dedFa
    lab_myhdl_points: '2 HW / 0 SW'
    lab_myhdl_deadline: Final da aula

    lab_4_classroom: https://classroom.github.com/a/VlAqXxEC
    lab_4_points: '3 HW / 0 SW'

    lab_ula_deadline: Final da aula (07/03)
    lab_ula_points: '2 HW/ 2 SW'
    lab_ula_forms: https://docs.google.com/forms/d/e/1FAIpQLSe04qyCZJUSCZvL4FlESN2QbSQyarw753vA0yitZ7o29zARRQ/viewform?usp=sf_link

    lab_seq_points: '2 HW/ 0 SW'
    lab_seq_classroom: https://classroom.github.com/a/ZR9oi2yP

    lab_nasm_1_classroom: https://classroom.github.com/a/E-_Z77Tn

    lab_nasm_2_points: '0 HW/ 3 SW'
    lab_nasm_2_points: '0 HW/ 3 SW'
    lab_nasm_2_classroom: https://classroom.github.com/a/ARyD-cq9

    lab_nasm_3_points: '0 HW/ 4 SW'
    lab_nasm_3_classroom: https://classroom.github.com/a/AkOQR7ru

    lab_nasm_4_deadline: '11/04'
    lab_nasm_4_points: '0 HW/ 6 SW'
    lab_nasm_4_classroom: https://classroom.github.com/a/-ODT6P_Z

    av2_simulado_classroom:   https://classroom.github.com/a/_BZEsoXf
    av2_simulado_2_classroom: https://classroom.github.com/a/LD2ztn4N
    av3_simulado_3_classroom: https://classroom.github.com/a/1RzZ-Kgt

markdown_extensions:
  - footnotes
  - markdown.extensions.admonition
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.critic:
      mode: view
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.smartsymbols
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home:
      - index: index.md
      - Critérios de Avaliação: Sobre-Criterios-de-Avaliacao.md
      - Rubricas individuais: Sobre-Rubricas.md
#  - Projetos:
#      # - A - Ambiente de desenvolvimento: class/intro-proj.md
#      - 1 - Lógica Combinacional: class/comb-proj.md
#      - 2 - ULA: class/ula-proj.md
#      - 3 - Lógica Sequencial: class/seq-proj.md
#      - 4 - Assembly: class/asm-proj.md
#      - 5 - Assembler: class/assembler-proj.md
#      - 6 - VM translator: class/vmtranslator-proj.md
#      - X - Mundo Real: class/x-proj.md
  - Labs:
      - Lab 1  - Visão geral: class/intro-benchmark-lab.md
      #- Lab 2  - Configurando Github: class/intro-lab-1.md
      #- Lab 3  - Github: class/intro-lab-2.md
      - Lab 2  - Transistores / CI: class/transistores-lab-1.md
      - Lab 3  - MyHDL: class/comb-lab-1.md
      - Lab 4  - Adders : class/ula-lab-1.md
      - Lab 5  - Hardware types: class/ula-lab-2.md
      - Lab 6  - ULA: class/ula-lab-4.md
      - Lab 7  - Lógica Sequencial: class/seq-lab-1.md
      - Lab 8  - (nasm) Assembly: class/asm-lab-1.md
      - Lab 9 - (nasm) Saltos: class/asm-lab-3.md
      - Lab 10 - (nasm) Praticando: class/asm-lab-4.md
#      - Lab 12 - (nasm) Periféricos: class/asm-lab-2.md
#      - Lab 13 - Linguagem de máquina: exercicios/linguagem-de-maquina.pdf
#      - Lab 14 - VM: class/vm-lab-1.md
#      - Lab 15 - VM translator: class/vmtranslator-lab-1.md

  - Teoria:
      - Álgebra Booleana: commum-content/teoria/Teoria-Algebra-Booleana.md
      - Resistor-Transistor Logic (RTL): commum-content/teoria/Teoria-RTL.md
      - Dados Digitais: commum-content/teoria/Teoria-Dados.md
      - Componentes Digitais: commum-content/teoria/Teoria-Componentes.md
      - Aritmética Binária: commum-content/teoria/Teoria-Aritmetica-Binaria.md
      - Aritmética Binária - HW: commum-content/teoria/Teoria-Aritmetica-Binaria-HW.md
      - ULA: commum-content/teoria/Teoria-ULA.md
      - Lógica Sequencial: commum-content/teoria/Teoria-Logica-Sequencial.md
      - Componentes Síncronos: commum-content/teoria/Teoria-Sequencial-Componentes.md
      - Z01: commum-content/teoria/Teoria-Z01.md
      - ASM - Assembly: commum-content/teoria/Teoria-Assembly.md
      - ASM - Mapa de memória: commum-content/teoria/Teoria-Z01-mapadeMemoria.md
      - ASM - jump: commum-content/teoria/Teoria-nasm-jump.md
      - Linguagem de máquina: commum-content/teoria/Teoria-Linguagem-de-Maquina.md
      - Assembler: commum-content/teoria/Teoria-Assembler.md
      - Tabela de Símbolos: commum-content/teoria/Teoria-Assembler-SymbolTable.md
      - VM: commum-content/teoria/Teoria-vm.md
      - VM - Segmentos: commum-content/teoria/Teoria-vm-segmentos.md
      - VM - jump: commum-content/teoria/Teoria-vm-jump.md
      - VM - Funções: commum-content/teoria/Teoria-vm-funcoes.md
      - VM - Memória: commum-content/teoria/Teoria-vm-memoria.md

  - MyHDL:
      - Configurando Infra: util/infra-docker.md
      - MyHDL Básico: myhdl/basico.md
      - Depurando: myhdl/depurando.md

  - Z01:
      - Resumo Assembly: commum-content/z01/z01-Resumo-Assembly.md
      - Z01.1 Cheat Sheet: commum-content/z01/z01-Cheat-Sheet.md
      - Instruction Set: commum-content/z01/z01-InstructionSet.md
      - Resumo VM: commum-content/z01/z01-Resumo-VM.md

  - Exercícios:
      - Algebra Booleana - 1: commum-content/exercicios/Exercicio-Algebra-Booleana-1.md
      - Álgebra Booleana - 2: commum-content/exercicios/Exercicio-Algebra-Booleana-2.md
      - Dados Digitais - 1: https://docs.google.com/spreadsheets/d/1rN_zQqYaVI8PjAhKqEBCmY-_06I0X9dD0RddcI-miJs/edit?usp=sharing
      - Dados Digitais - 2: commum-content/exercicios/Exercicio-Dados-2.md
      - Aritmética Binária: commum-content/exercicios/Exercicios-Aritmetica-Booleana.md
      - Lógica Sequencial: https://forms.gle/XMsFCDMYsmz1qUP86
      - Linguagem de Máquina: https://github.com/Insper/elementos-bits-content/blob/main/exercicios/Linguagem_de_maquina.pdf
      - commum-content/exercicios/Exercicio-CPU-1.md
      - commum-content/exercicios/Exercicio-CPU-2.md
      - linguagem de máquina: commum-content/exercicios/Linguagem_de_maquina.pdf
      - VM translator: https://docs.google.com/spreadsheets/d/1dywPIHgpUztDtpqzuEuGzAuTlcK9ryVUTp9-b84stJ4/edit?usp=sharing

  - Útil:
    #  - "Novo projeto": util/Util-Comecando-novo-projeto.md
      - "Ixi, sou scrum": util/Util-vixi-sou-scrum.md
      - "Ixi, sou dev": util/Util-vixi-sou-dev.md
      - "Codespace Projeto": util/Util-projet-codespace.md
      - "Codespace": util/infra-codespace.md

  - Avaliações: Avaliacoes.md
#- História:
#  - 'Historia-linux.md'
